@import "tailwindcss";

/* Tailwind v4 handles custom themes directly in CSS */
@theme {
  --font-sans: "Acorn", sans-serif;
}

body {
  background-color: #0f172a; /* Deep dark blue/black */
  color: white;
}